<body class="main-layout">


    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"> <a href="index.html">
                                  <%= image_tag 'logo.jpg'%>
                                  </a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li><%= link_to 'Home', root_path %></li>
                                        <li><%= link_to 'Log In', signin_users_path %></li>
                                        <li><%= link_to 'Products', product_index_path %></li>
                                        <li><%= link_to 'Appointment',appointments_path %></li>
                                        
                                        <!--<li> <a href="meet.html"> Product </a> </li>-->
                                        <!--<li> <a href="whatwedo.html"> Appointment </a> </li>-->
                                        <!--<li> <a href="contact.html">Contact us</a> </li>-->
                                        <!--<li class="mean-last"> <a href="#"><img src="images/search_icon.png" alt="#" /></a> </li>-->
                                        <!--<li class="mean-last"> <a href="#"><img src="images/top-icon.png" alt="#" /></a> </li>-->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <br> <br>
    <li><%= link_to 'Make Appointment', add_appointments_path %></li> 
    <br> <br><br> <br>
   

  <table width="90%" border="1" class="t1">
    <thead>
        <th width="20%"> Date </th>
        <th width="20%"> TimeSlot </th>
        <th width="10%"> User </th>
        <th width="20%"> Email </th>
        <th width="20%"> Phone </th>
        <th width="10%"> Action </th>
    </thead>
    
    <tbody>
        <tr>
            <td> 11/01/2020 </td>
            <td> 10:00 </td>
            <td> yao </td>
            <td> 9799854028 </td>
            <td> test@gmail.com </td>
            <td> <%= link_to "Delete", drop_appointments_path %></td>
        </tr>
    </tbody>

    
  </table>
