<body class="main-layout">


    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"> <a href="index.html">
                                  <%= image_tag 'logo.jpg'%>
                                  </a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li><%= link_to 'Home', root_path %></li>
                                        <li><%= link_to 'Log In', signin_users_path %></li>
                                        <li><%= link_to 'Products', product_index_path %></li>
                                        <li><%= link_to 'Appointment',appointments_path %></li>
                                        
                                        <!--<li> <a href="meet.html"> Product </a> </li>-->
                                        <!--<li> <a href="whatwedo.html"> Appointment </a> </li>-->
                                        <!--<li> <a href="contact.html">Contact us</a> </li>-->
                                        <!--<li class="mean-last"> <a href="#"><img src="images/search_icon.png" alt="#" /></a> </li>-->
                                        <!--<li class="mean-last"> <a href="#"><img src="images/top-icon.png" alt="#" /></a> </li>-->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <br> <br>
    <li><%= link_to 'Make Appointment', add_appointments_path %></li> 
    <li><%= link_to 'Edit Appointment', edit_appointments_path %></li>
    <br> <br><br> <br>
   

    <h2> Search by appointment date: </h2>
    <%= form_tag(appointments_path, method: :post) do %>
        <%= date_select(:appt_date2, params[:appt_date2]) %>
        <%= date_select(:appt_date1, params[:appt_date1]) %>
        <%= submit_tag ("Search") %>
    <% end %>



  <table width="90%" border="1" class="t1">
    <thead>
        <th width="10%"> ID </th>
        <th width="20%"> Date </th>
        <th width="20%"> TimeSlot </th>
        <th width="10%"> User </th>
        <th width="20%"> Email </th>
        <th width="10%"> Phone </th>
        <th width="10%"> Action </th>
    </thead>
    
    <tbody>
        <% @appointments.each do |appointments| %>
        <tr>
            <td> <%= appointments.id %> </td>
            <td> <%= appointments.appt_date %> </td>
            <td> <%= appointments.timeslot %></td>
            <td> <%= appointments.user_name  %> </td>
            <td> <%= appointments.user_email  %> </td>
            <td> <%= appointments.user_tele %> </td>
            <td> <%= button_to "Delete", {action: "drop", id: appointments.id}, method: :drop, data: { confirm: "Are you sure?"} %> </td>
        </tr>
        <% end %>  
    </tbody>

    
  </table>
