

<!DOCTYPE html>
<html>
<head>
  <title>RIKKA BEAUTY</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_pack_tag "application"%>
  <%= javascript_pack_tag 'jquery_min' %>
  <%= javascript_pack_tag 'popper' %>
  <%= javascript_pack_tag 'bootstrap_bundle_min' %>
  <%= javascript_pack_tag 'jquery_3_min' %>
  <%= javascript_pack_tag 'plugin' %>
  <%= javascript_pack_tag 'jquery_mCustomScrollba' %>
  <%= javascript_pack_tag 'custom' %>
  <%= javascript_pack_tag 'jquery_validate' %>
  <%= javascript_pack_tag 'test2' %>




  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

